@model Huong_Nguyen_Thi_Thanh_65131234_Web_QLBH.Models.CTMH

@{
    ViewBag.Title = "Chi tiết chi tiết mua hàng";
}

<h2 class="mb-3 text-info">
    <i class="fa-solid fa-eye"></i> Chi tiết mua hàng - Đơn: @Model.MaDMH
</h2>

<div class="card shadow-sm p-4 mb-3">
    <dl class="row">
        <dt class="col-sm-3">Mã sản phẩm</dt>
        <dd class="col-sm-9">@Model.MaSP</dd>

        <dt class="col-sm-3">Tên sản phẩm</dt>
        <dd class="col-sm-9">@Model.TenSP</dd>

        <dt class="col-sm-3">Số lượng</dt>
        <dd class="col-sm-9">@Model.SLM</dd>

        <dt class="col-sm-3">Đơn giá</dt>
        <dd class="col-sm-9">@Model.DGM.ToString("N")</dd>
    </dl>

    @* <a asp-action="Edit" asp-route-maDMH="@Model.MaDMH" asp-route-maSP="@Model.MaSP" class="btn btn-warning">
        <i class="fa-solid fa-pen-to-square"></i> Sửa
    </a> *@
    <a asp-action="CTMH_Admin" asp-route-maDMH="@Model.MaDMH" class="btn btn-secondary">
        <i class="fa-solid fa-arrow-left"></i> Quay lại
    </a>
</div>
